body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

#stopWatchContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

#stopWatch{
    font-size: 5rem;
    padding: 10px;
    margin: 30px
}

#buttonSection{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: space-between;
    margin: 10px;
}

.button{
    font-size: 2rem;
    padding: 30px;
    border-radius:35px;
    color:white
}

#startBtn{
    background-color: rgb(53, 168, 53);
}

#stopBtn{
    background-color: rgb(219, 11, 11);
}

#resetBtn{
    background-color: rgb(29, 108, 255);
}

#startBtn:hover{
    background-color: rgba(38, 214, 3, 0.842);
    transition: 0.1s;
}

#stopBtn:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.1s;
}

#resetBtn:hover{
    background-color: rgb(3, 153, 253);
    transition: 0.1s;
}